POSTGRES_DB=url_shortener
POSTGRES_USER=url_shortener
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
PROMETHEUS_PORT=9090
RABBITMQ_USERNAME=url_shortener
RABBITMQ_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/url_shortener
SPRING_DATASOURCE_USERNAME=url_shortener
SPRING_DATASOURCE_PASSWORD=change_me
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
APP_PORT=8080
REDIS_HOST=localhost
REDIS_TIMEOUT=PT2S
RABBITMQ_HOST=localhost

JWT_SECRET=replace_with_base64_encoded_32_byte_secret
JWT_ACCESS_TOKEN_EXPIRATION=PT15M
VISITOR_HASH_SECRET=replace_with_random_secret_of_at_least_32_characters

SHORT_CODE_LENGTH=7
SHORT_CODE_MAX_GENERATION_ATTEMPTS=5
APP_BASE_URL=http://localhost:8080
REDIRECT_CACHE_ENABLED=true
REDIRECT_CACHE_TTL=PT1H
EXPIRATION_CLEANUP_ENABLED=true
EXPIRATION_CLEANUP_INITIAL_DELAY=PT1M
EXPIRATION_CLEANUP_INTERVAL=PT5M
CLICK_TRACKING_ENABLED=true
RATE_LIMIT_ENABLED=true
RATE_LIMIT_FAIL_OPEN=true
RATE_LIMIT_WINDOW=PT1M
RATE_LIMIT_AUTH_REQUESTS=10
RATE_LIMIT_REDIRECT_REQUESTS=60
RATE_LIMIT_API_REQUESTS=120
